/* @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap'); */

body{
    background-color: rgba(255, 173, 173, 0.897);
    text-align: center;  
}
h1 {
    font: normal bold 3em 'Patua One', cursive;
    color: rgb(255, 255, 255);

}
.buttons {
    background-color: #f05d5d;
    font: normal lighter 14px 'Patua One', cursive;
    color: white;
    margin:10px;
    border:0px;
    border-radius: 10px;
    box-shadow: 3px 4px 1px #c43e3e;
    width: 90px;
    height: 40px;
    transition: 0.1s; 
}
.buttons:active{
    position: relative;
    top: 3px;
    box-shadow: 3px 4px 1px #f05d5d;
}
.buttonsup {
    background-color: #ff97973a;
    font: normal lighter 14px 'Patua One', cursive;
    color: white;
    margin: 10px;
    border:0px;
    border-radius: 12px;
    width: 90px;
    height: 35px;
}
.buttonsup:hover{
    background-color: rgb(255, 67, 67);
}
.buttonsup:active{
    background-color: brown;
}
#divbuttons {
    width: auto;
    height: auto;
}
#timer {
    color: white;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgb(230, 171, 171) ,rgba(233, 38, 38, 0.836) );
    flex-direction: column;
}
#timerSpan {
    padding: 60px;
    font: normal bold 6em 'Patua One', cursive;
}