@font-face {
    font-family: 'PatuaOne-Regular' ;
    src: url('../fonts/PatuaOne-Regular.ttf') format('truetype');
}
body{
    background:rgb(241, 109, 109);
    text-align: center;
}
h1 {
    font: normal bold 3em 'PatuaOne-Regular', cursive;
    color: rgb(255, 255, 255);
}
.buttondown {
    background-color: #f05d5d;
    font: normal lighter 14px 'PatuaOne-Regular', cursive;
    color: white;
    margin:10px;
    border:0px;
    border-radius: 10px;
    box-shadow: 3px 4px 1px #c43e3e;
    width: 90px;
    height: 40px;
    transition: 0.1s; 
}
.buttondown:active{
    position: relative;
    top: 3px;
    box-shadow: 3px 4px 1px #f05d5d;
}
.buttonsup {
    background-color: #ff97973a;
    font: normal lighter 14px 'PatuaOne-Regular', cursive;
    color: white;
    margin: 10px;
    border:0px;
    border-radius: 12px;
    width: 90px;
    height: 35px;
}
.buttonsup:hover{
    background-color: rgb(255, 67, 67);
}
.buttonsup:active{
    background-color: brown;
}
#divbuttons {
    width: auto;
    height: auto;
}
#timer {
    color: white;
    border-radius: 12px;
    margin: 5vmax;
    width:auto;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(250, 57, 89, 0.726);
}
#timerSpan {
    margin-top: 20px;
    font: normal bold 6em 'PatuaOne-Regular', cursive;
}